

main {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
}

.intro h2 {
	margin-bottom: 10px;
}

.intro p {
	margin-bottom: 20px;
}

.resources ul {
	list-style: none;
}

.resources li {
	margin-bottom: 10px;
}

.resources a {
	color: #2C3E50;
	text-decoration: none;
}

footer {
	background-color: #F5F5F5;
	padding: 10px;
	text-align: center;
}
